<div class="container">
  <div class="pupils-all-container">
    <div class="pupils-all-box">
      <h4 style="margin: 0">Вчителі</h4>
      <mat-divider class="title-divider" style="width: 100%;"></mat-divider>
      <div class="pupils-all-action-box">
        <mat-checkbox disabled></mat-checkbox>
        <button mat-stroked-button disabled>
          Дії
          <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <span class="spacer"></span>
      </div>
      <mat-list>
        <div *ngFor="let teacher of this.teachers; index as i">
          <mat-list-item>
            <p matListItemTitle style="margin: 0" class="list-title">{{ teacher.lastname + " " + teacher.firstname }}</p>
            <p matListItemLine style="margin: 0" class="list-line">{{ teacher.email }}</p>
            <div matListItemMeta>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </mat-list-item>
          <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
              <mat-icon>mail</mat-icon>
              <span>Написати лист вчителю</span>
            </button>
            <button mat-menu-item (click)="openDialog(teacher.id)">
              <mat-icon>person_remove</mat-icon>
              <span>Вилучити</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>person_apron</mat-icon>
              <span>Зробити учнем</span>
            </button>
          </mat-menu>
          <mat-divider *ngIf="i + 1 !== teachers.length"></mat-divider>
        </div>-->
      </mat-list>
    </div>
  </div>

</div>
