// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use "app/page/login/login.component.scss" as login-page;
@use "app/page/register/register.component.scss" as register-page;
@use "app/page/register/register-pending/register-pending.component.scss" as register-pending-page;
@use "app/components/navigation/navigation.component.scss" as navigation;
@use "app/page/requests/requests.component" as requests-page;
@use "app/page/requests/request-approval/request-approval.component.scss" as request-approval-page;
@use "app/page/pupils/pupils.component" as pupils-page;
@use "app/page/subjects/subjects.component" as subjects-page;
@use "app/page/subjects/subject-overview/subject-overview-main/subject-overview-main.component.scss" as subject-overview-main;
@use "app/page/subjects/subject-overview/subject-overview-pupils/subject-overview-pupils.component.scss" as subject-overview-pupils;
@use "app/page/credentials/credentials.component.scss" as credentials-page;
@use "app/page/pupils/pupils-subjects/pupils-subjects.component.scss" as pupils-subjects;
@use "app/page/pupils/pupils-teachers/pupils-teachers.component.scss" as pupils-teachers;
@use "app/page/teachers/teachers/teachers.component.scss" as teachers-page;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$MindGlow-application-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($MindGlow-application-theme);
  @include mat.all-component-typographies($MindGlow-application-theme);
  @include login-page.theme($MindGlow-application-theme);
  @include register-page.theme($MindGlow-application-theme);
  @include register-pending-page.theme($MindGlow-application-theme);
  @include navigation.theme($MindGlow-application-theme);
  @include mat.strong-focus-indicators-theme($MindGlow-application-theme);
  @include requests-page.theme($MindGlow-application-theme);
  @include request-approval-page.theme($MindGlow-application-theme);
  @include pupils-page.theme($MindGlow-application-theme);
  @include subjects-page.theme($MindGlow-application-theme);
  @include subject-overview-main.theme($MindGlow-application-theme);
  @include subject-overview-pupils.theme($MindGlow-application-theme);
  @include credentials-page.theme($MindGlow-application-theme);
  @include pupils-subjects.theme($MindGlow-application-theme);
  @include pupils-teachers.theme($MindGlow-application-theme);
  @include teachers-page.theme($MindGlow-application-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
@include mat.typography-hierarchy($MindGlow-application-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
@include mat.color-variants-backwards-compatibility($MindGlow-application-theme);
/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
