<div class="login-page">
  <div class="login-box">
    <h3>Підтвердження даних</h3>
    <form class="field-box" (submit)="onSubmit()" [formGroup]="credentialsForm">
      <p>Змініть ці дані (далі по них ви будете заходите як адмін)</p>
      <mat-form-field appearance="outline" subscriptSizing="dynamic" hideRequiredMarker="true">
        <mat-label>Електронна адреса</mat-label>
        <input matInput type="email" formControlName="email" required autocomplete="email">
        @if (credentialsForm.get("email")?.invalid) {
          <mat-error>{{credentialsErrorHandlers.email.getErrorMessage()}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" subscriptSizing="dynamic" hideRequiredMarker="true">
        <mat-label>Ім'я</mat-label>
        <input matInput type="text" formControlName="firstName" required>
        @if (credentialsForm.get("firstName")?.invalid) {
          <mat-error>{{credentialsErrorHandlers.firstName.getErrorMessage()}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" subscriptSizing="dynamic" hideRequiredMarker="true">
        <mat-label>Прізвище</mat-label>
        <input matInput type="text" formControlName="lastName" required>
        @if (credentialsForm.get("lastName")?.invalid) {
          <mat-error>{{credentialsErrorHandlers.lastName.getErrorMessage()}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" subscriptSizing="dynamic" hideRequiredMarker="true">
        <mat-label>Пароль</mat-label>
        <input type="password" matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required autocomplete="new-password">
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Сховати пароль'" [attr.aria-pressed]="hidePassword" type="button">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (credentialsForm.get("password")?.invalid) {
          <mat-error>{{credentialsErrorHandlers.password.getErrorMessage()}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" subscriptSizing="dynamic" hideRequiredMarker="true">
        <mat-label>Повторіть пароль</mat-label>
        <input type="password" matInput formControlName="confirmPassword" required autocomplete="new-password">
        @if (credentialsForm.get("confirmPassword")?.invalid) {
          <mat-error>{{credentialsErrorHandlers.confirmPassword.getErrorMessage()}}</mat-error>
        }
      </mat-form-field>
      <div class="buttons">
        <a mat-button color="primary" (click)="logout()">Вийти з акаунта</a>
        <button type="submit" mat-flat-button color="primary">Підтвердити</button>
      </div>
    </form>
  </div>
</div>

