<div class="pupils-all-container">
  <div class="pupils-all-box">
    <h4 style="margin: 0">Учні</h4>
    <mat-divider class="title-divider" style="width: 100%;"></mat-divider>
    <div class="pupils-all-action-box">
      <mat-checkbox disabled></mat-checkbox>
      <button mat-stroked-button disabled>
        Дії
        <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-icon-button *ngIf="this.user?.role === 'ADMIN'" disabled>
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
    <mat-list>
      <div *ngFor="let pupil of this.pupils; index as i">
        <mat-list-item>
          <p matListItemTitle style="margin: 0" class="list-title">{{ pupil.lastname + " " + pupil.firstname }}</p>
          <p matListItemLine style="margin: 0" class="list-line">{{ pupil.email }}</p>
          <div matListItemMeta>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </mat-list-item>
        <mat-menu #menu="matMenu">
          <button mat-menu-item disabled>
            <mat-icon>mail</mat-icon>
            <span>Написати лист учню</span>
          </button>
          <button mat-menu-item (click)="openDialog(pupil.id)" *ngIf="this.user?.role === 'ADMIN'">
            <mat-icon>person_remove</mat-icon>
            <span>Вилучити</span>
          </button>
          <button mat-menu-item disabled *ngIf="this.user?.role === 'ADMIN'">
            <mat-icon>person_apron</mat-icon>
            <span>Зробити викладачем</span>
          </button>
        </mat-menu>
        <mat-divider *ngIf="i + 1 !== pupils.length"></mat-divider>
      </div>
    </mat-list>
  </div>
</div>
