<form [formGroup]="changePasswordFormGroup" (submit)="onSubmit()">
  <h2 mat-dialog-title>Змінити пароль</h2>
  <mat-dialog-content>
    <div class="change-password-container">
      <mat-form-field appearance="outline" hideRequiredMarker="true">
        <mat-label>Поточний пароль</mat-label>
        <input matInput type="text" required formControlName="currentPassword" autocomplete="off">
        @if (changePasswordFormGroup.get("currentPassword")?.invalid) {
          <mat-error>{{changePasswordHandlers.currentPassword.getErrorMessage()}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" hideRequiredMarker="true">
        <mat-label>Новий пароль</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" required formControlName="newPassword" autocomplete="new-password">
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Сховати пароль'" [attr.aria-pressed]="hidePassword" type="button" >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (changePasswordFormGroup.get("newPassword")?.invalid) {
          <mat-error>{{changePasswordHandlers.newPassword.getErrorMessage()}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" hideRequiredMarker="true">
        <mat-label>Повторіть новий пароль</mat-label>
        <input matInput type="password" required formControlName="confirmPassword">
        @if (changePasswordFormGroup.get("confirmPassword")?.invalid) {
          <mat-error>{{changePasswordHandlers.confirmPassword.getErrorMessage()}}</mat-error>
        }
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()" type="button">Скасувати</button>
    <button mat-button cdkFocusInitial type="submit">Змінити</button>
  </mat-dialog-actions>

</form>
