
<div class="pupils-all-container">
  <div class="pupils-all-box">
    <h4 style="margin: 0">Учні по вчителях</h4>
    <mat-divider class="title-divider" style="width: 100%;"></mat-divider>
    <div class="pupils-all-action-box">
      <mat-checkbox disabled></mat-checkbox>
      <button mat-stroked-button disabled>
        Дії
        <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
      </button>
      <span class="spacer"></span>
    </div>
    <mat-list>
      <div *ngFor="let subject of this.teacherSubjects; index as i">
        <h4 style="margin: 0" *ngIf="subject.students.length > 0">{{subject.teacherId}}</h4>
        <mat-divider class="title-divider" style="width: 100%;" *ngIf="subject.students.length > 0"></mat-divider>
        <mat-list-item *ngFor="let student of subject.students">
          <p matListItemTitle style="margin: 0" class="list-title">{{ user?.lastname + " " + user?.firstname }}</p>
          <p matListItemLine style="margin: 0" class="list-line">{{ user?.email }}</p>
        </mat-list-item>
      </div>
    </mat-list>
  </div>
</div>

